DATABASE_URL=mysql+pymysql://root:Delvalle2018_@localhost:3306/sales_dw
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sales_dw
DB_USER=root
DB_PASSWORD=Delvalle2018_
ZIPCODE_CSV=data/zipcode_eae.csv
WEATHER_CSV=data/meteo_eae.csv
SALES_CSV=data/sale_phases_funnel.csv